/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/
/* ===== Numéro 3f ===== */

header {
    padding: 20px 0px;
}

/* ===== Numéro 3a ===== */
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

/* ===== Numéro 3b ===== */
.logo {
    display: flex;
    align-items: center;
    font: 700 3rem Nunito;
    text-decoration: none;
    color: #444;
    gap: 20px;
}

/* ===== Numéro 3c ===== */

.menu ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}


/* ===== Numéro 3d ===== */

.menu a {
    color: #000;
    font: bold 0.875 'PT Sans' sans-serif ;
    padding: 5px 10px;
    border: 2px solid rgba(255, 255, 255, 0);

    
    /* On ne peut pas raccourcir*/
    text-transform: uppercase;
    text-decoration: none;
}


/* ===== Numéro 3e ===== */

.menu a:hover {
    border: 2px solid black;
}




/* ===== Numéro 4a ===== */
.hero {
   
    background: url('../images/hero.jpg') no-repeat center right;
    background-size: cover ;
    background-position: center;
    height: 650px;
    
}


/* ===== Numéro 4b ===== */
.hero .wrapper {

    
    flex-direction: column;
    align-items:flex-start;
    min-height: 650px;
    display: flex;
    justify-content: center;
    
}

/* ===== Numéro 4c ===== */
.hero .contenu {
    max-width: 50%;
    color: #fff;
}

/* ===== Numéro 4d ===== */

.hero h1 {
    
    
    font: 100 6.25rem/100% Nunito, sans-serif;
    margin: 0 0 1.25rem 0;
    color: #F2545B;
}
/* ===== Numéro 5c ===== */

.athletes {
   padding: 6.25rem 0 6.25rem 0;
}


/* ===== Numéro 5a ===== */

.athletes h2 {
   
    font: bold 3.125rem Nunito, sans-serif ;
    margin: 0 0 3.125rem 0;
    letter-spacing: 0.05em;
}


/* ===== Numéro 5b ===== */

.athletes p {
    margin: 0 0 3.125rem 0;
}





/* ===== Numéro 5d ===== */
.athletes-photos {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 30px;
}

/* ===== Numéro 5e ===== */
.athletes-photos img {

    max-width: 100%;
}

/* ===== Numéro 5f ===== */
.athlete1 {
display: grid;
grid-row: span 2;
grid-column: span 2;

}


/* ===== Numéro 6a ===== */
footer {

}

footer .wrapper {

    display: flex;
    justify-content: flex-end;
    padding: 30px 0; 
}

/* ===== Numéro 6b ===== */

.menu-social {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   display: flex;
   flex-direction: row;
   gap:10px;
}



/* ===== Numéro 6c ===== */

footer .wrapper .menu-social a {

    display: flex;
    color: #fff;
    background-color: #F2545B;
    flex-direction: row;
    align-items: center;
    border-radius: 100%

}



/* ===== Numéro 6d ===== */

.menu-social a:hover {
    background: gray;
}
